/* These are the general css settings for the website on desktop*/

/* container settings just to get a general idea of how to make em*/
.container {
  width: 80%; 
  max-width: 270px; 
  padding: 10px;
  border: 1px solid #ccc; 
  box-sizing: border-box;
  color:whitesmoke;
  margin-top: 11px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: rgb(8, 8, 8);
  text-align: center;
  color: #d0d0d0;
  margin: 0;
  padding: 0;
  scrollbar-color: red black;
}


/* ~~ Top Navigation Bar ~~ */


#navigation-container {
  width: 1200px;
  margin: 0 auto;
  height: 100px;
  margin-bottom: 2%;
}

.navigation-bar {
  background-color: #690404;
  height: 100px;
  width: 100%;
  text-align: right;
}

.navigation-bar ul {
  padding: 0px;
  margin: 0px;
  display:inline-block;
  vertical-align:top;
  margin-right: -6.5%;
  margin-top: 1%;

}

.navigation-bar li {
  list-style-type: none;
  padding: 0px;
  height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline;
}

.menu {
  float: right;
}

/*These are imported fonts nothing really to touch tbh lol */

@font-face {
  font-family: 'Chomsky';
  src:
    url('$lib/fonts/chomsky.woff2') format('woff2'),
    url('$lib/fonts/chomsky.woff') format('woff');
}
@font-face {
  font-family: 'bestchristmas';
  src:
    url('$lib/fonts/bc/bestchristmas.woff2') format('woff2'),
    url('$lib/fonts/bc/bestchristmas.woff') format('woff');
}
@font-face {
  font-family: 'blackchancery';
  src:
    url('$lib/fonts/blkch/blkchcry.woff2') format('woff2'),
    url('$lib/fonts/blkch/blkchcry.woff') format('woff'),
}

/*This is mobile Css settings
If needed add further modifications to media screen*/

@media only screen and (max-width: 389px) {

  body {
    background-color: rgb(8, 8, 8);
    text-align: center;
    color: #d0d0d0;
    margin: 0;
    padding: 0;
    scrollbar-color: red black;
  }  
  #navigation-container {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    margin-bottom: 2%;
  }
  
  .navigation-bar {
    background-color: #690404;
    height: 100%;
    width: 100%;
  }
  
  .navigation-bar ul {
    width: 60%;
    height: auto;
    padding: 0px;
    margin: 0px;
    display:inline-block;
    vertical-align:top;
    margin-left: 28%;
    margin-top: -22%;
  }
  
  .navigation-bar li {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4%;
    margin-bottom: 4%;
    display: inline;
  }
  .menu {
    float: right;
  }
}

@media screen and (min-width: 390px) and (max-width: 400px) {

  body {
    background-color: rgb(8, 8, 8);
    text-align: center;
    color: #d0d0d0;
    margin: 0;
    padding: 0;
    scrollbar-color: red black;
  }  
  #navigation-container {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    margin-bottom: 2%;
  }
  
  .navigation-bar {
    background-color: #690404;
    height: 100%;
    width: 100%;
  }
  
  .navigation-bar ul {
    width: 60%;
    height: auto;
    padding: 0px;
    margin: 0px;
    display:inline-block;
    vertical-align:top;
    margin-left: 28%;
    margin-top: -20%;
  }
  
  .navigation-bar li {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4%;
    margin-bottom: 4%;
    display: inline;
  }
  .menu {
    float: right;
  }
}

@media screen and (min-width: 401px) and (max-width: 900px) {

  body {
    background-color: rgb(8, 8, 8);
    text-align: center;
    color: #d0d0d0;
    margin: 0;
    padding: 0;
    scrollbar-color: red black;
  }  
  #navigation-container {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    margin-bottom: 2%;
  }
  
  .navigation-bar {
    background-color: #690404;
    height: 100%;
    width: 100%;
  }
  
  .navigation-bar ul {
    width: 60%;
    height: auto;
    padding: 0px;
    margin: 0px;
    display:inline-block;
    vertical-align:top;
    margin-left: 28%;
    margin-top: -18%;
  }
  
  .navigation-bar li {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4%;
    margin-bottom: 4%;
    display: inline;
  }
  .menu {
    float: right;
  }
}

